/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-3 {
  padding: 20px;
  align-items: left;

  .todo-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;

    &.completed {
      text-decoration: line-through;
    }
  }

  input[type="text"] {
    width: 40%;
    padding: 0.5rem;
    margin-bottom: 0.5em;
    border-radius: 4px;
  }
  button {
    width: 80px;
    height: 40px;
    margin-left: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #c0392b;
    }
  }
  .content {
    max-width: 80%;
    text-wrap: wrap;
    word-wrap: break-word;
  }
}
